body {
    font-family: sans-serif;
}

.container {
    width: 80ch;
    max-width: 56vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
}

header {
    text-align: center;
    font-size: 3rem;
    margin: 5vh;
    font-weight: bold;
}